.header {
     background-color: $main-color;
     border-top: 9px solid $black;
}
.top-bar {
     padding: 15px 0 19px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     &__logo {
          display: flex;
          align-items: center;
     }
     &__img {
          display: block;
          margin-right: 17px;
     }
     &__text {
          width: 161px;
          @include font(700,14px,24px,$main-font);
          text-transform: uppercase;
     }
     &__adress {
          text-align: right;
     }
     &__city{
          @include font(400,14px,24px,$main-font); 
     }
     &__phone{
          padding-top: 3px;
          padding-bottom: 3px;
          @include font(400,14px,24px,$main-font); 
     }
}
@media(max-width:624px){
     .header {
          border-top: 5px solid $black;
     }
     .top-bar {
          padding: 10px 0 15px;
          &__logo{
               margin-bottom: 10px;
          }
          &__img {
               margin-right: 12px;
          }
          &__adress {
               text-align: left;
          }
          &__text {
               width: auto;
               @include font(700,14px,24px,$main-font);
          }
     }
}


