.navigation {
     &__container{
          padding-top: 9px;
          padding-bottom: 8px;
          position: relative;
     }
     &__img {
          display: inline-block;
          margin-right: 10px;
          margin-left: 2px;
     }
     &__list {
          display: inline-block;    
          text-transform: uppercase;  
          vertical-align: top; 
     }
     &__item {
          margin-left: 37px;
          display: inline-block;
     }
     &__link {
          display: block;
          color: $not-active-color;  
          @include font(400,14px,14px,$main-font); 
          padding: 9px 0;    
          transition: color .3s; 
          word-spacing: 2px;
          &--active{
               color: $black;
          }
     }
}
.menu {
     display: none;
     width: 32px;
     height: 32px;
     position: absolute;
     top: 10px;
     right: 0;
     z-index: 999;
     &__line {
          margin: 6px auto;
          width: 24px;
          height: 2px;
          background-color:$black;
     }
}

@media(max-width:824px){
     .navigation {
          &__list {
               z-index: 99;
               display: none; 
               position: absolute;
               top: 0;
               right: -15px;
               text-align: center;
               width: 300px;
               background-color:$main-color;
               padding: 40px 5px 20px;
               &--active{
                    display: block;
               }
          }
          &__item {
               display: block;
               margin-left: 0;
          }
          &__link {
               border-bottom: 1px solid $not-active-color;
               &--active{
                    border-bottom: 1px solid $black;
               }
               &:hover{
                    background-color: #ffad02;
               }
          }          
     }
     .menu {
          display: inline-block;
          width: 32px;
          height: 32px;
          position: absolute;
          top: 10px;
          right: 0px;
          cursor: pointer;
          &__line {
               margin: 6px auto;
               width: 24px;
               height: 2px;
               background-color:$black;
               transition: transform .3s;
               &--active{
                    &:nth-child(1){
                         transform: rotateZ(45deg)
                         translateY(6px);
                    }
                    &:nth-child(2){
                         display: none;
                    }
                    &:nth-child(3){
                         transform: rotateZ(-45deg)  
                         translateY(-6px);
                    }
               }
          }
     }
}
@media(max-width:420px){
     .navigation {
          &__container{
               margin-left: -15px;
               margin-right: -15px;
          }
          &__list {
               width: 100%;
               right: 0;
               left: 0;
          }
     }
}
