.products {
     padding: 40px 0 ;
}
.crumbs {     
     @include font(400,12px,24px, $main-font);
     margin-bottom: 60px;
     &__step {
          color:$main-color;
          display: inline-block;
          padding-top: 6px;
          padding-bottom: 6px;
          &::after{
               content:'/';
               color:#000;
          }
     }
}
.product {
     margin-bottom: 10px;
     &__img{
          width: 100%;
     }
     &__title {
          @include font(700,24px,24px, $main-font);
          margin-bottom: 38px;
     }
}
.accardion{
     &__head{
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
          width: 100%;
          min-height: 40px;
          border: 1.0px solid #cdcdcd;
          border-radius: 3.0px;
          padding: 7px 40px 7px 20px;
          position: relative;
          cursor: pointer;
          margin-bottom: 10px;
          position: relative;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &::after{
               content:'';
               position: absolute;
               margin-top: 2px;
               width: 21px;
               height: 21px;
               right: 20px;
               background:url(../../../img/spritesheet.png) no-repeat -5px -36px;
               transition:background-position  .5s;
          }
          &--active::after{
               background-position: -5px -5px;
          }
     }
     &__body{
          display: none;
          &--active{
               display: block;
          }
     }
}
.specifications__title{
     @include font(700,24px,24px, $main-font);
}  

.specification{
     display: flex;
     align-items: center;
     margin-bottom: 15px;
     cursor: pointer;
     &:first-child{
          margin-top: 30px;
     }
     &:last-child{
          margin-bottom: 30px;
     }
     &__fake {
          margin-right: 20px;
          width: 30px;
          height: 30px;
          border: 2px solid #000000;
          position: relative;
          &::before{
               display: block;
               content:'';
               width: 20px;
               height: 20px;
               background-color: #000;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               opacity:0;
               transition: opacity .3s;
          }
     }
     &__radio {
          display: none;
     }
     &__text {
          @include font(400,16px,20px, $main-font);
     }
     &__radio:checked+.specification__fake::before{
          opacity: 1;
     }
}
.information{
     display: flex;
     align-items: center;
     margin-left: auto;  
     &__price{
          @include font(700,24px,30px, $main-font);
          margin-right: 45px;
     }
     &__btn{
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.34);
          width: 132px;
          height: 32px;
          background-image: linear-gradient(0.0deg, #fab500 0%, #fdcf03 100%);
          border: 1.0px solid #fab500;
          border-radius: 3.0px;
          outline: none;
          cursor: pointer;
          @include font(400,12px,16px, $main-font);
          &:hover{
               text-decoration: underline;
          }
     }
}
@media(max-width:768px){
     .products {
          padding: 20px 0 ;
     }
     .crumbs {     
          margin-bottom: 20px;
     }
     .product {
          &__img-box{
               display: none;
          }
          &__title {
               @include font(700,24px,24px, $main-font);
               margin-bottom: 38px;
          }
     }
}
@media(max-width:400px){
     .information{
     margin-left: 0 ;  
          &__price{
               @include font(700,20px,30px, $main-font);
               margin-right: 15px;
          }
     }
}