.title{
     text-align: center;
     @include font (700,24px,24px, $main-font);
     text-transform: uppercase;
     margin-bottom: 20px;
     &::before{
          display: block;
          content:'';
          width: 100%;
          height: 2px;
          background-color: #818180;
          margin-bottom: 50px;
     }
 }
.services{
     &__wrapper{
     background-color: $main-color;
     padding-top: 50px;
     }
     &__cards{

     }
     &__card{
          display: flex;
          margin-bottom: 60px;
     }
     &__img-block{
          margin-right: 50px;
     }
     &__img{
          vertical-align: top;
          border-radius:6px;
     }
     &__title{
          margin-bottom: 30px;
          font:normal 700 20px/24px $main-font;
     }
     &__text{
          font:normal 400 14px/24px $main-font;
     }
}
@media(max-width:480px){
     .services{
          &__img-block{
          display: none;          
          }
          &__info{
               padding-bottom: 25px;
               border-bottom: 1px solid #000;
          }
          &__card{
               margin-bottom: 15px;
          }
     }
}