.tasks{
     padding: 65px 0 70px;
     &__title{
          @include font(700,24px,24px,$main-font);
          text-transform: uppercase;
          margin-bottom: 30px;
     }
     &__list{
          margin-left: 23px;
     }
     &__item{
          @include font(700,24px,24px,$main-font);
          list-style-type: decimal;
          margin-bottom: 30px;
     }
     &__wrapper{
          width: 32px;
          height: 32px;
          margin-left: 30px;
          cursor: pointer;
     }
     &__link{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
     }
     &__icon{
          width: 18px;
          height: 18px;
     }
     &__input{
          width: 58.333%;
          height: 40px;
          border-radius:6px;
          border:1px solid #535353;
          box-shadow: inset 4px 4px 10px -2px rgba(0,0,0,0.34);
          padding:7px 20px ;
          @include font(700,24px,30px,$main-font);
          color:#535353;
          outline: none;
     }
}
.task__item{
     display: flex;
     align-items: center;
}
@media(max-width:540px){
     .tasks{
          padding: 40px 0 35px;
          &__title{
               margin-bottom: 20px;
          }
          &__item{
               margin-bottom: 20px;
          }
          &__wrapper{
               margin-left: 15px;
          }

          &__input{
               width: 75%;
               height: 40px;
               border-radius:6px;
               border:1px solid #535353;
               box-shadow: inset 4px 4px 10px -2px rgba(0,0,0,0.34);
               padding:7px 20px ;
               @include font(400,18px,24px,$main-font);
               color:#535353;
               outline: none;
          }
     }
     .task__item{
          display: flex;
          align-items: center;
     }
}